/*Root directory*/
:root {
  --heading-font: "Encode Sans", sans-serif;
  --paragraph-font: "Lora", serif;
  --primary-color: #254d63;
  --accent-1: #4b8d97;
  --dark-accent-1: #1a4239;
  --light-accent-1: #6cc3f5;
  --accent-2: #fcd577;
  --main-font-color: rgb(19, 18, 18);
  --font-color-on-color: whitesmoke;
  --fb-color: #3b5998;
  --in-color: #007bb5;
  --border-radius: 10px;
  --font-size: 25px;
}
/* Overall body fonts*/
body {
  font-family: var(--paragraph-font);
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
/*Meeting Notification that shows Mon&Tues*/
.announcement {
  background-color: var(--light-accent-1);
  color: var(--main-font-color);
  font-size: 0.6rem;
  text-align: center;
  padding-right: 15%;
  grid-column: 1/6;
  grid-row: 1;
}
div.showme {
  display: block;
}
div.hideme {
  display: none;
}
/*Styling of the Header*/
header {
  background-color: var(--primary-color);
  color: var(--font-color-on-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-height: 150px;
}
/*style logo*/
.headerlogo {
  grid-column: 1/2;
  justify-tracks: center;
}
/*Chamber Title and slogan*/
.headings {
  text-align: left;
  margin-top: 5%;
  grid-column: 2/4;
  grid-row: 1;
}
.headings h1 {
  font-size: 0.75rem;
}
.headings p {
  letter-spacing: 1pt;
  font-weight: 500;
  font-size: 0.5rem;
}
/*Date Banner*/
.date {
  max-width: 100%;
  margin: 0;
  font-size: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 15%;
  text-align: center;
  grid-column: 1/6;
  grid-row: 4/5;
}
/*Navigation style*/
nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
nav {
  background-color: var(--primary-color);
  grid-column: 1 / 6;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: var(--primary-color);
}
nav ul li a {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--font-color-on-color);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.fb a:hover {
  background-color: var(--fb-color);
}
.in a:hover {
  background-color: var(--in-color);
}
.hover-color a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--font-color-on-color);
}
/*Wayfinding*/
nav ul li.active a {
  background-color: var(--accent-2);
  color: var(--main-font-color);
}
nav ul li.active a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*Hamburger button*/
.hambtn {
  font-size: 1.5em;
  grid-column: 1/2;
  grid-row: 2;
}
.hambtn span:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}
.hambtn span:nth-child(2) {
  display: none;
}

.hambtn.open span:nth-child(1) {
  display: none;
}
.hambtn.open span:nth-child(2) {
  display: flex;
  justify-content: flex-start;
}
/*Main styles at the base view*/
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
main div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: grid;
}
/*Spotlight 3 styles at base view*/
div.spotlight3 {
  display: none;
}
/*Hero Image*/
div.hero {
  display: flex;
  position: relative;
  padding: 0;
  grid-column: 1/2;
}
.hero img {
  width: 100%;
  height: auto;
}
/*Join chamber button on hero img style at base view*/
.joinbtn1 {
  position: absolute;
  background-color: var(--accent-2);
  width: 35%;
  height: 3%;
  padding: 1rem;
  bottom: 5%;
  right: 15%;
  text-decoration: none;
  color: var(--main-font-color);
  border-radius: 5px;
  text-align: center;
  font-size: 0.75rem;
}
.joinbtn1:hover {
  background-color: var(--dark-accent-1);
  color: var(--font-color-on-color);
}
/*Event style at small view*/
.emojis {
  font-size: 4em;
  margin: 0.5em;
}
div.event {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--accent-1);
  color: var(--font-color-on-color);
  text-align: center;
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 1em;
  padding: 1em;
}
hr {
  height: 2px;
  margin: 10px 0;
  background-color: var(--accent-2);
}
/*Weather style small view*/
div.weather {
  display: flex;
  flex-direction: column;
  background-color: var(--light-accent-1);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  grid-column: 1;
  grid-row: 4/5;
  margin: 0.5em;
  padding: 0.5em;
}
/*News style small view*/
div.news {
  background-color: var(--accent-2);
  grid-column: 1;
  grid-row: 5/6;
  text-align: center;
  margin: 1em;
  padding: 1em;
}
/*Join style small view*/
div.join {
  display: none;
}
/*Spotlight style small view */
div.spotlight {
  grid-column: 1;
  grid-row: 6/8;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-1);
  text-align: center;
}
/*Footer style small view*/
footer {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--primary-color);
  color: var(--font-color-on-color);
  margin-top: 10px;
}
.footlogo {
  grid-column: 1;
  grid-row: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footinfo #footbox1 h4 p {
  text-align: center;
  grid-column: 1;
  grid-row: 2;
}
.footinfo #footbox2 {
  grid-column: 1;
  grid-row: 3;
}
.map-link {
  text-decoration: none;
  color: var(--font-color-on-color);
}
.footinfo #footbox3 {
  grid-column: 1;
  grid-row: 4;
  margin: 0px;
}
