/*Root directory*/
:root {
  --heading-font: "Encode Sans", sans-serif;
  --paragraph-font: "Lora", serif;
  --primary-color: #254d63;
  --accent-1: #95BCD2;
  --dark-accent-1: #1a4239;
  --light-accent-1: rgb(108, 195, 245);
  --accent-2: rgb(252, 213, 119);
  --main-font-color: rgb(19, 18, 18);
  --font-color-on-color: whitesmoke;
  --fb-color: #3b5998;
  --in-color: #007bb5;
  --border-radius: 10px;
}
/* Overall body fonts*/
body {
  font-family: var(--paragraph-font);
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
/*Meeting Notification that shows Mon&Tues*/
.announcement {
  background-color: var(--light-accent-1);
  color: var(--main-font-color);
  font-size: 0.6rem;
  text-align: center;
  padding: 10px 10px 10px 10px;
  grid-column: 1/6;
  grid-row: 6;
}
div.showme {
  display: block;
}
div.hideme {
  display: none;
}
/*Styling of the Header*/
header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--primary-color);
  color: var(--font-color-on-color);
}
header h1 {
  font-size: 2rem;
  padding: 0.75rem;
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
}
/*style log at the base view*/
.headerlogo {
  width: 100%;
  grid-column: 1/5;
  text-align: center;
}
.headerlogo picture {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Chamber Title and slogan*/
.headerlogo p {
  letter-spacing: 1pt;
  font-weight: 500;
}
/*Date Banner*/
.date {
  max-width: 100%;
  margin: 0;
  font-size: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  grid-column: 1/6;
  grid-row: 4/5;
  padding: 0.75rem;
}
/*Social links*/
.social {
  grid-column: 4/5;
  display: flex;
}
.social img {
  padding: 15px;
  border-radius: 25px;
}

/*Navigation style*/
nav ul.open {
  display: block;
}
nav {
  background-color: var(--primary-color);
  grid-column: 1 / 6;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: var(--primary-color);
}
nav ul li a {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--font-color-on-color);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.hover-color a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--font-color-on-color);
}
/*Wayfinding*/
nav ul li.active a {
  background-color: var(--accent-2);
  color: var(--main-font-color);
}
nav ul li.active a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*Hamburger button*/
.hambtn {
  font-size: 3rem;
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 20px;
}
.hambtn button {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.2);
}
.hambtn span:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}
.hambtn span:nth-child(2) {
  display: none;
}
.hambtn.open span:nth-child(1) {
  display: none;
}
.hambtn.open span:nth-child(2) {
  display: flex;
  justify-content: flex-start;
}
/*Main styles at the base view*/
main {
  display: flex;
  flex-direction: column;
}
/*Hero Image*/
#hero {
  position: relative;
}
.hero-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Join chamber button on hero img style at base view*/
.joinbtn1 {
  position: relative;
  bottom: 45px;
  left: 175px;
  background-color: var(--accent-2);
  width: 30%;
  height: 3%;
  padding: 1rem;
  text-decoration: none;
  color: var(--main-font-color);
  border-radius: 5px;
  text-align: center;
}
.joinbtn1:hover {
  background-color: var(--dark-accent-1);
  color: var(--font-color-on-color);
}
/*Event style at small view*/
.emojis {
  font-size: 4em;
  margin: 0.5em;
}
.event {
  background-color: var(--accent-1);
  border: 1px solid var(--dark-accent-1);
  color: var(--main-font-color);
  text-align: center;
  justify-content: center;
  padding: 10px;
  align-items: center;
  box-shadow: 7px 7px 0px 5px rgba(0, 0, 0, 0.2);
}
hr {
  height: 2px;
  margin: 10px 0;
  background-color: var(--accent-2);
}
/*Weather style small view*/
.weather {
  background-color: var(--light-accent-1);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  box-shadow: 7px 7px 0px 5px rgba(0, 0, 0, 0.2);
}
.weather p figcaption{
  font-size: 1.5rem;
}
/*News style small view*/
#news {
  background-color: var(--accent-2);
  grid-column: 1;
  grid-row: 5/6;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 7px 7px 0px 5px rgba(0, 0, 0, 0.2);
}
/*Join style small view*/
.join {
  display: none;
}
/*Spotlight style small view */
div.spotlight {
  grid-column: 1;
  grid-row: 6/8;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-1);
  text-align: center;
}
.spotlight3 {
  display: none;
}

/*Spotlight 3 styles at base view*/
div.spotlight {
  color: var(--main-font-color);
  margin: 2px;
}
.spotlight1 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--accent-1);
  box-shadow: 7px 7px 0px 5px rgba(0, 0, 0, 0.2);
}
.spotlight2 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--accent-1);
  box-shadow: 7px 7px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: .5rem;
}
/*Discover page style*/
.discover-column {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 0.5em;
}
#desert-mountain-img {
  margin-top: 1em;
}
img.discover {
  width: 300px;
  height: 400px;
}
article.town-info {
  width: 300px;
  height: 300px;
  padding: 0.5em;
  text-align: left;
  justify-self: center;
}

/*Footer style small view*/
footer {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--primary-color);
  color: var(--font-color-on-color);
  margin-top: 10px;
}
.time-stamp {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--accent-1);
  color: var(--main-font-color);
  padding: 0.5rem;
}
.footlogo {
  grid-column: 1;
  grid-row: 2;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footinfo #footbox1 h4 p {
  text-align: center;
  grid-column: 1;
  grid-row: 3;
}
.footinfo #footbox2 {
  grid-column: 1;
  grid-row: 4;
}
.map-link {
  text-decoration: none;
  color: var(--font-color-on-color);
}
.footinfo #footbox3 {
  grid-column: 1/5;
  grid-row: 3/4;
  margin: 0px;
}
/*Membership Join page*/
.joinPage {
  display: block;
}
fieldset {
  border: solid 2px var(--dark-accent-1);
  margin-top: 2rem;
  max-width: 400px;
}
h2.membership {
  background-color: var(--light-accent-1);
  padding: 1rem;
  text-align: center;
  border: solid 2px var(--dark-accent-1);
}
legend {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
form label.above input,
form label.above select,
form label.above textarea {
  appearance: none;
  display: block;
  padding: 0.75rem;
  margin: auto;
  margin-bottom: 2%;
  background-color: rgba(15, 56, 83, 0.1);
}
form label.above {
  margin-left: 70px;
}
fieldset.personalInfo,
fieldset.companyInfo {
  margin-bottom: 2rem;
}

form label.radio {
  display: block;
  padding: 0.75rem;
  margin-left: 50px;
}
div.nProfit,
div.bronze,
div.silver,
div.gold {
  border: solid 2px var(--dark-accent-1);
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  color: var(--main-font-color);
  padding: 1rem;
  max-width: 400px;
}
div.nProfit {
  background-color: var(--accent-2);
}
div.bronze {
  background-color: rgb(205, 127, 50);
}
div.silver {
  background-color: rgb(192, 192, 192);
}
div.gold {
  background-color: rgb(227, 192, 87);
}

input.membership {
  width: 1.25rem;
}
form input.submit {
  background-color: var(--light-accent-1);
  color: var(--main-font-color);
  padding: 0.75rem 1.5rem;
  margin-top: 10px;
}
input {
  border: 3px solid;
}
textarea {
  border: 3px solid;
}
input:optional {
  border-color: var(--dark-accent-1);
}
input:required:valid {
  border-color: rgb(5, 227, 5);
}
input:invalid,
select {
  border-color: rgb(209, 4, 4);
}
input:focus:invalid {
  background-color: rgb(209, 4, 4, 0.1);
}
textarea.question:optional {
  border-color: var(--dark-accent-1);
}
textarea.question:required:valid {
  border-color: rgb(5, 227, 5);
}
textarea.question:invalid,
select {
  border-color: rgb(209, 4, 4);
}
textarea.question:focus:invalid {
  background-color: rgb(209, 4, 4, 0.1) ;
}
label.submit {
  display: flex;
  justify-content: center;
}
.application {
  background-color: var(--light-accent-1);
  padding: 1rem;
  text-align: center;
  border: solid 2px var(--dark-accent-1);
}


/* Thank you action page*/
div.thankYou {
  grid-column: 2/5;
  text-align: center;
}
div.thankYou h4 {
  font-size: 2rem;
}

/* Directory Page*/
.infoBtn {
  background-color: var(--accent-1);
}
#gridBtn,
#listBtn {
  background-color: var(--accent-2);
  border-radius: 5px;
  margin-bottom: 0.75rem;
}
#listBtn {
  margin-left: 0;
}
#gridBtn {
  margin-left: 0rem;
}
.infoBtn {
  text-align: center;
}
section {
  background-color: rgb(252, 213, 119, 0.2);
  border: 1px solid #555;
  padding: 0.5rem;
}
.grid section {
  box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.3);
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
}
.grid .coimg {
  margin: 0 auto;
}
.grid .name {
  display: none;
}
.grid p.address,
p.phone,
p.url {
  font-family: var(--heading-font);
  text-align: center;
  font-size: 1rem;
}
p.level {
  display: none;
}
.grid .url {
  text-align: center;
}

.list section:nth-child(even) {
  background-color: rgb(108, 195, 245, 0.3);
}
.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.25rem;
}
.list .info {
  margin: 0;
  box-shadow: 0;
}
.list .coimg {
  display: none;
}
.list .phone {
  text-align: justify;
}
.list .web-address {
  text-align: justify;
}
/*Contact Page*/
hr.vertical {
  display: none;
}
.contact-p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0;
}
.dmcontact {
  padding: 1rem;
}
.contact-info {
  margin: 0 auto;
}
div.dmcontact p {
  font-size: 1rem;
}
section.president, 
section.vp,
section.membership-director, 
section.grant {
  border: 1px solid var(--dark-accent-1);
  text-align: center;
  margin-top: 10px;
  box-shadow: 5px 5px 0px 3px hsla(0, 0%, 0%, 0.2);
  background-color: var(--accent-1);
}
.president img,
.vp img,
.membership-director img,
.grant img {
  box-shadow: 5px 5px 0px 3px hsla(0, 0%, 0%, 0.2);
  border: 1px solid black;  
}
.location {
  background-color: var(--accent-1);
  box-shadow: 5px 5px 0px 3px hsla(0, 0%, 0%, 0.2);
  margin-top: 1.5rem;
}
.location img {
  display: block;
  max-width:  100%;
  max-height: 100%;
}