/*64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  /*Header styles at large view*/
  .headings {
    font-size: 2.5em;
  }

  /*Navigation style large view*/
  nav {
    grid-column: 1/6;
    overflow: hidden;
  }
  nav button {
    display: none;
  }
  nav ul.primarynav {
    justify-content: center;
    display: flex;
  }
  nav li {
    font-size: 1.5rem;
    width: 25%;
  }
  nav ul li a {
    border: none;
  }
  /*Main style at large view */
  main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
  }
  /*Call to Action style at large view*/
  .joinbtn1 {
    font-size: 2rem;
  }
  /*Hero image and div style at large view */

  div.hero {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 10px;
  }
  .heroimg {
    margin: 0;
    padding: 0;
  }
  /*card-container style at large view*/
  .card-container {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }
  /*Event style at large view*/
  #event {
    grid-column: 1/2;
    grid-row: 1;
    height: 100%;
    
  }
  /*Weather style at large view */
  #weather {
    grid-column: 1;
    grid-row: 2/3;
    height: 100%;
  }
  /*Join style at large view */
  .join {
    grid-column: 1;
    grid-row: 2/3;
  }
  /*News style at large view */
  div.news {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  /*Spotlight style at large view*/
  .spotlight {
    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
   padding-top: 7px;
  }
  .spotlight3 {
    display: inherit;
  }
}
