/*64em is also 1028px when basefont is 16px */
@media only screen and (min-width:64rem) {
    
   /*Navigation style large view*/
   nav button {
      display: none;
   }
   nav ul.primarynav {
      justify-content: center;
      display: flex;
      grid-column: 4/6;
  }
  nav li {
   font-size: 1rem;
   width: 25%;
  }
  nav ul li a {
   border: none;
  }
}