/*35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  /*header styles at medium view*/
  .headings h1 {
    font-size: 1.5rem;
  }
  .headings p {
    font-size: 1rem;
  }
  /*Banner styles at medium view*/
  .announcement {
    font-size: 1.5rem;
  }
  /*Date styles at medium view*/
  .date {
    font-size: 1rem;
  }
  /*Hamburger Button styles at medium view*/
  nav button {
    width: 3.5rem;
    height: 3.5rem;
  }
  button span {
    font-size: 2rem;
  }
  /*Navigation sytle at medium view*/
  nav li {
    font-size: 1.5em;
  }

  /*Main style at medium view */
  /*Call to action style at medium view */
  .joinbtn1 {
    font-size: 2em;
    bottom: 80%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto
  }
  /*Hero dive style at medium view*/
  div.hero {
    grid-column: 1 / 5;
    grid-row: 1/3;
  }
  .joinbtn1 {
    height: 6%;
    bottom: 1%;
    right: 2%;
  }

  /*News Release style at medium view*/
  div.news {
    grid-column: 1 / 5;
    grid-row: 3/ 4;
    font-size: 2rem;
    height: 300px;
  }
  /*Spotlight style at medium view */
  .spotlight {
    grid-column: 1 / 5;
    grid-row: 4/5;
    display: flex;
    
    font-size: 1.5rem;
  }
  /*Join style at medium view */
  .join {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-1);
    color: var(--font-color-on-color);
    font-size: 1.5rem; 
    height: 250px;   
    grid-column: 1/5;
    grid-row: 5 /6;
    height: 300px;
  }
  .join ul {
    list-style-type: none;
  }
  .joinbtn2 a {
    text-decoration: none;
    color: var(--main-font-color);
    background-color: var(--accent-2);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    padding: 1rem;
  }
  .joinbtn2 a:hover {
    font-size: 2rem;
    color: var(--font-color-on-color);
    text-decoration: none;
    background-color: var(--dark-accent-1);
  }
  /*card-container style at medium view*/
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1/5;
    grid-row: 6/7;
    padding: 10px;
  }
  /*Event style at medium view */
  #event {
    grid-column: 1/3;
    grid-row: 5/6;
    font-size: .75rem;
    margin: 10px;
    width: 400px;
    padding: 10px 10px 10px 10px;
  }
  /*Weather style at medium view */
  #weather {
    grid-column: 3/5;
    grid-row: 5/6;
    font-size: 1rem;
    margin: 10px;
    width: 300px;
    padding: 10px 10px 10px 10px;
  }
  /*Footer style at medium view */
  footer {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: var(--primary-color);
    color: var(--font-color-on-color);
    margin-top: 10px;
  }
  .footinfo hr {
    display: none;
  }
  #footbox3 {
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    margin: 0px;
  }
}
