/*35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  /*header styles at medium view*/

  /*Banner styles at medium view*/
  .announcement {
    font-size: 1em;
  }
  /*Date styles at medium view*/
  .date {
    font-size: 1rem;
  }
  /*Hamburger Button styles at medium view*/
  nav {
    grid-column: 1/5;
    grid-row: 2;
  }

  button span {
    font-size: 2.5rem;
    text-align: end;
  }
  /*Navigation sytle at medium view*/
  nav li {
    font-size: 1.5em;
  }

  /*Main style at medium view */
  /*Call to action style at medium view */
  .joinbtn1 {
    font-size: 2em;
    bottom: 80%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
  /*Hero div style at medium view*/
  #hero {
    grid-column: 1 / 6;
    grid-row: 1/2;
  }
  .hero-img img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .hero-img {
    width: 100%;
  }

  .joinbtn1 {
    bottom: 75px;
    left: 480px;
  }

  /*News Release style at medium view*/
  #news {
    grid-column: 1 / 6;
    grid-row: 2/ 3;
    margin-top: 0.5em;
  }
  /*Spotlight style at medium view */

  /*Join style at medium view */
  .join {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-1);
    color: var(--font-color-on-color);
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0.5em;
    padding: 1em;
    grid-column: 1/6;
    grid-row: 5 /6;
  }
  .join ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
  }
  .join ul li a {
    text-decoration: none;
    color: var(--main-font-color);
    background-color: var(--accent-2);
    border-radius: 5px;
    justify-content: center;
    display: flex;
    padding: 1rem;
  }
  .join p {
    padding: 7px;
  }
  .joinbtn2 a:hover {
    font-size: 2rem;
    color: var(--font-color-on-color);
    text-decoration: none;
    background-color: var(--dark-accent-1);
  }
  /*News style at medium view */
  .news {
    grid-column: 1/6;
    grid-row: 3;
  }
  /*Spotlight at medium view */
  div.spotlight {
    grid-column: 1/6;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0.5em;
  }

  /*Event style at medium view */
  .event {
    grid-column: 1/4;
    grid-row: 6/7;
    margin-top: 0.5em;
  }
  /*Weather style at medium view */
  .weather {
    grid-column: 4/6;
    grid-row: 6/7;
    margin-top: 0.5em;
  }
  /*Discover page style at medium view */
  .discover-pg {
    display: block;
  }
  .discover-column {
    grid-template-columns: repeat(4, 1fr);
  }
  #desert-mountain-img {
    grid-column: 2/3;
    grid-row: 1;
  }
  #desert-mountain-article {
    grid-column: 1/2;
    grid-row: 1;
  }
  #pioneer-park-img {
    grid-column: 2/3;
    grid-row: 2;
  }
  #pioneer-park-article {
    grid-column: 1/2;
    grid-row: 2;
  }
  #shakespeare-garden-img {
    grid-column: 2/3;
    grid-row: 3;
  }
  #shakespeare-garden-article {
    grid-column: 1/2;
    grid-row: 3;
  }
  #balloon-festival-img {
    grid-column: 2/3;
    grid-row: 4;
  }
  #balloon-festival-article {
    grid-column: 1/2;
    grid-row: 4;
  }
  #skiing-img {
    grid-column: 2/3;
    grid-row: 5;
  }
  #skiing-article {
    grid-column: 1/2;
    grid-row: 5;
  }
  #mountain-trail-img {
    grid-column: 2/3;
    grid-row: 6;
  }
  #mountain-trail-article {
    grid-column: 1/2;
    grid-row: 6;
  }

  /*Discover image hover effects*/
  .border img {
    transition: 0.5s ease;
  }
  .border img:hover {
    box-shadow: 0 0 0 5px var(--dark-accent-1);
    transition: 0.5s ease;
  }
  /*Footer style at medium view */
  footer {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: var(--primary-color);
    color: var(--font-color-on-color);
    margin-top: 10px;
  }
  .footinfo hr {
    display: none;
  }
  .time-stamp {
    grid-column: 1/4;
  }
  .footlogo {
    grid-column: 1/2;
    grid-row: 2;
  }
  #footbox1 {
    grid-column: 2/3;
    grid-row: 2;
  }
  #footbox2 {
    grid-column: 3/4;
    grid-row: 2;
  }
  #footbox3 {
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    margin: 0px;
  }
}
