/*35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav {
        grid-row: 3;
    }
    nav button {
        display: none;
    }
    nav ul.primarynav {
        justify-content: center;
        display: flex;
        margin-left: 2vw;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    
    .headerlogo {
        grid-column: 1;
        grid-row: 2;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .headings {
        grid-column: 2 / 5;
        grid-row: 2;        
    }
    .m {
        margin-left: 75px;
    }
    /*main*/
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    div.hero {
        grid-column: 1 / 5;
    }
    .calltoaction {
        top: 45rem;
        right: 5rem;
    }
    .join {
        background-color: var(--primary-color);
        color: var(--font-color-on-color);
    }
    .joinbtn a{
        font-size: 1.3rem;
        padding: 1.3rem 1.7rem;
    }
    div.news {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
    div.spotlight {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    div.join {
        display: block;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    div.event {
        grid-column: 1 / 4 ;
        grid-row: 5 / 6;
    }
    div.weather {
        grid-column: 4 / 5;
        grid-row: 5 /6;
    }

 
    footer {
        text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: var(--accent-2);
    margin-top: 10px;
    }
}